extends layout

block content
  h1= title
  - let shoes = [{shoeCategory:"Formal",shoeBrand:"Clarks",price:140},{shoeCategory:"Casual",shoeBrand:"Vans",price:120},{shoeCategory:"Sports",shoeBrand:"Nike",price:"110"}]
  div(class="container-fluid")
  div(class="row")
    each item in shoes
        div(class="col-sm-2") Category: #{item.shoeCategory}, Brand: #{item.shoeBrand}, Price: #{item.price}
